@{
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
<h6>Click on the poster to view details.</h6>
<hr />
@model  IEnumerable<WebjetClientApp.Models.Movie>

@if (Model == null)
{
    <h3>@ViewBag.Error</h3>
}

@if (Model != null)
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">

                <img src="@Url.Content(item.Poster)" alt="@item.Title" height="180" width="171" title="Click to view details" onclick="location.href='@Url.Action("MovieDetails", "Movie")?movieID=@item.ID&provider=Film'" />
                <div class="caption">
                    <h5> @item.Title</h5>
                    <p><input id="btnGetPrice" type="button" class="btn btn-success" value="View Details" onclick="location.href='@Url.Action("MovieDetails", "Movie")?movieID=@item.ID&provider=Film'" /></p>

                </div>
            </div>
        }
    </div>
}




